// Vars
$listViewWidth: 200px;

body, html{
	height: 100%;
	width: 100%;
}
header{
	position: absolute;
	z-index: 100;
	width: 100%;
	#menu{
		background: rgba(255, 31, 31, 0.9);
		h1 {
			margin: 0;
			font-size: 22px;
			text-align: center;
			padding: 10px 0;
		    color: #fff;
		    text-shadow: 0px 1px #000;
		}
	}
}
// Map
#map {
	position: relative;
	width: 100%;
	height: 100%;

	// InfoWindow styles
	.window-content{
		ul {
			li {
				list-style-type: none;
			}
		}
		h2 {
			font-size: 3rem;
			margin-bottom:.5rem;
		}
	}
}
// Search
#search{
	margin: 0;
	input{
		width: $listViewWidth;
		margin: 0;
		border-radius: 0;
		border-bottom: solid 4px #006382;
		border-left: 0;
		border-right: 0;
		text-align: center;
	}
}
#listview {
	position: absolute;
	z-index: 99;
	margin: 0;
	width: $listViewWidth;
	top: 84px;
	ul#results{
		width: 100%;
		li {
			position: relative;
			list-style-type: none;
			margin: 0;
			width: 100%;
			cursor: pointer;
			display: block;
			a {
				display: inline-block;
				width: 100%;
				background: #33C3F0;
				border-bottom: solid 1px #51d6ff;
				text-align: center;
				margin: 0;
				padding: 10px 0;
				color: #000;
				&:hover {
					background-color: #51d6ff;
				}
			}
		}
	}
}
#errors{
	display: block;
	max-width: 400px;
    position: absolute;
    background: #ddd;
    top: 50px;
    z-index: 103;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    .error {
    	padding: 15px 0;
    }
    #error-map, #error-foursquare{
    	display: block;
    }
}
.hide{
	display: none !important;
}
.show{
	display: block;
}